*           text=auto
*.java      text
*.md        text
*.pdf       diff=astextplain
*.py        text
*.jrk       binary
*.csr       text
*.cer       text
*.txt       text
*.key       text
*.tk        text
*.iml       text
*.xml       text
